name: Build and Push Images to ECR

on:
  push:
    # Triggers on version bump
    tags: ["v*"]
  # Allows manual triggering of the actions workflow from the Actions tab
  workflow_dispatch:

permissions:
  # Allowed by default but good to be explicit and follow least privilege
  contents: read

jobs:
  build_and_push_to_ECR: # Job ID
    name: Build and Push Images to ECR
    runs-on: ubuntu-latest # Specify container environment
    strategy:
      matrix: # Define matrix with different config for backend and frontend services.
        # This allows building and pushing in parallel, without repeating duplicate steps
        service: [backend, frontend]
        include:
          - service: backend # Define backend specific variables
            dockerfile_path: ./backend/Dockerfile ./backend
          - service: frontend # Define frontend specific variables
            dockerfile_path: ./frontend/Dockerfile.prod ./frontend

    steps:
      # Checkout repository to runner
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for tags

      # Configure AWS credentials using IAM user with appropriate permissions to access ECR
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login to ECR on AWS so we can push images
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Create image tags dynamically based on version and git SHA
      - name: Create Image Tags
        id: create_tags
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then
            TAG="${GITHUB_REF#refs/tags/v}-prod-${GITHUB_SHA::7}"
          else
            LATEST_TAG=$(git tag --sort=-version:refname | head -1 | sed 's/^v//')
            TAG="${LATEST_TAG}-manual-prod-${GITHUB_SHA::7}"
          fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "Created image tag: ${TAG}"
          echo "${TAG}" > tag.txt

      # Upload tag txt file created from last step as artifact for use in deploy workflow
      - name: Upload Tag Artifact
        # Only upload once for backend since tag is same for both
        if: matrix.service == 'backend'
        uses: actions/upload-artifact@v6
        with:
          name: tag
          path: tag.txt

      # Build service image once for each service in matrix. Separate build and push steps improves debugging
      - name: Build Service Image
        # Conditionally add build arg for frontend only. Use matrix variables and step outputs for dynamic values
        run: |
          docker build ${{ matrix.service == 'frontend' && format('--build-arg VITE_API_URL=${0}', secrets.BACKEND_URL) || ''}} -t \
          ${{ steps.login-ecr.outputs.registry }}/${{ vars.SERVICE_NAME }}/${{ matrix.service }}:${{ steps.create_tags.outputs.tag }} \
          -f ${{ matrix.dockerfile_path }}

      # Push service image to ECR
      - name: Push Service Image to ECR
        run: |
          docker push \
          ${{ steps.login-ecr.outputs.registry }}/${{ vars.SERVICE_NAME }}/${{ matrix.service }}:${{ steps.create_tags.outputs.tag }}
