name: CI Tests

on:
  pull_request:
    # Default types are opened, synchronize and reopened
    branches:
      - main
  # Allows manual triggering of the actions workflow from the Actions tab
  workflow_dispatch:

permissions:
  # Read permissions allowed by default but good to be explicit and follow least privilege
  contents: read
  actions: read
  checks: write # Needed to attach test reports as check runs

env:
  # Defining at top level makes available to all jobs. If not needed for all, define at job level
  OMDB_API_KEY: ${{ secrets.OMDB_API_KEY }}
  JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
  DATABASE_URI: ${{ secrets.DATABASE_URI }}
  COMPOSE_CMD: docker compose -f docker-compose.test.yaml

concurrency:
  # Dynamically assign group name based off current workflow and current ref (PR branch)
  group: ${{ github.workflow }}-${{ github.ref }}
  # Cancel in progress runs in same group if a new run is triggered (i.e. multiple  commits at once)
  cancel-in-progress: true

jobs:
  run_tests: # Job ID
    name: Run Tests
    # Specify container environment
    runs-on: ubuntu-latest

    steps:
      # Checkout repository to runner
      - name: Checkout Repo
        uses: actions/checkout@v6

      # Build images using docker-compose.test.yaml. Separate build and run steps improves debugging
      - name: Build Docker Images Using Test Compose
        run: ${{ env.COMPOSE_CMD }} build

      # Run backend container tests
      - name: Run Backend Tests
        run: ${{ env.COMPOSE_CMD }} run --rm backend-test

      # Run frontend container tests
      - name: Run Frontend Tests
        # Still run frontend tests if backend tests fail
        if: always()
        run: ${{ env.COMPOSE_CMD }} run --rm frontend-test

      # Upload test reports as artifacts to persist after job completion.
      - name: Upload Test Report Artifacts
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-reports
          path: test_reports/

      # Test report is created from existing test reports and attached to check run
      - name: Check Run Test Reports
        id: test-report
        uses: dorny/test-reporter@v2.5.0
        # Still attach reports if tests fail
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Test Reports
          path: ./test_reports/*.xml # Uses logs attached by bind mounts in docker-compose.test.yaml
          reporter: java-junit
          list-tests: "failed" # Only show failed test expanded details
          use-actions-summary: "false" # Disable so it's added as a check instead of summary
