name: Attach Test Reports to Workflow Run & PR

on:
  workflow_run:
    workflows: ["CI Tests"]
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  attach_test_reports:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Test Reports are Attached to Workflow Run & PR
        uses: dorny/test-reporter@v2.5.0
        # Still attach reports if tests fail
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact: test-reports
          name: Test Reports
          path: "*.xml"
          reporter: java-junit
          # Only show failed suite and test expanded details
          list-tests: "failed"

      - name: Debug Check Run Creation
        if: always()
        run: |
          echo "URL: ${{ steps.test-report.outputs.url }}"
          echo "HTML URL: ${{ steps.test-report.outputs.url_html }}"
          echo "Conclusion: ${{ steps.test-report.outputs.conclusion }}"

          # Query if Check Run actually exists for the PR head SHA
          curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/commits/${{ github.event.workflow_run.head_sha }}/check-runs
