name: Attach Test Reports to Workflow Run & PR

on:
  workflow_run:
    workflows: ["CI Tests"]
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  attach_test_reports:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Test Reports are Attached to Workflow Run & PR
        uses: dorny/test-reporter@v2.5.0
        # Still attach reports if tests fail
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact: test-reports
          name: Test Reports
          path: "*.xml"
          reporter: java-junit
          # Only show failed suite and test expanded details
          list-tests: "failed"
